<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		
		<add key="SubscribersReportFile" value="HFM#526-Subscribers Report.xlsx" />
		<add key="PageantRoutingGuideFile" value="PAGEANT ROUTING GUIDE.xlsx" />
		<add key="IntlTemplateFile" value="INTL TEMPLATE.doc" />

		<add key="DefaultSupplier" value="BP FLATS" />

		<add key="LabelWidth" value="400" />
		<add key="LabelHeight" value="300" />

		<add key="CompanyName" value="Warehouse Operations Ltd" />
	</appSettings>
</configuration>